.form {
  width: 100%;
  max-width: 900px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__inputs-container {
  width: 100%;
  max-width: 600px;
  display: flex;
}