.form {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__inputs-container {
  width: 100%;
  max-width: 600px;
  display: flex;
}

.form__button {
  margin-left: 4px;
}

@media only screen and (max-width: 640px) {
  .form {
    justify-content: center;
  }

  .form__inputs-container {
    flex-wrap: wrap;
    align-content: center
  }

  .form__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center
  }

  .form__button {
    width: 180px;
    margin: 8px;
  }
}